$color_body_bg: #090d0f;
// $color_body_bg: #161d22;
$color_backdrop_bg: #090d0fe8;
$color_header_bg: #090d0f;
$color_header_text: #a7f2eb;
$over_line_color: #f2f2f2;
$color_body_text: #f2f2f2;
$color_body_text_dark: #e5e5e5;
$color_card_bg: #2a3640;
$color_body_accent: #9fd8f1;
