$color_body_bg: linear-gradient(149.5deg, #2a3640 9.7%, #11161b 97.21%);
$color_header_text: #a7f2eb;
$color_body_text: #f2f2f2;
$color_body_text_dark: #e5e5e5;
$color_card_bg: #2a3640;
$color_body_accent: #9fd8f1;
