.archive .archive-title {
  font-size: 0;
  span {
    font-size: 2rem;
  }
}

.tag-title {
  padding-left: 1rem;
}

.home .projects-section-wrapper,
.archive .projects-section-wrapper {
  h2 {
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .porfolio-project {
    .project-description {
      position: relative;
      padding: 1.5rem 1rem;
      h3 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        color: $color_header_light_text;
      }
      p {
        padding-top: 1.5rem;
        margin: auto;
        font-size: 1rem;
      }
      .project-links {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        width: 100%;
        top: 1rem;
        right: 1rem;
        a {
          font-size: 1.4rem;
          color: $color_body_text;
          @include neonShadowText;
        }
      }
    }
    .project-tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      width: 80%;
      margin: 2rem auto;
      gap: 1rem;
      a {
        background-color: $color_tag_bg;
        text-decoration: none;
        color: $color_tag;
        border-radius: 3px;
        padding: 0 0.5rem;
      }
    }
  }
  .entry-thumbnail {
    text-align: center;
  }
  .entry-thumbnail img {
    max-width: 100%;
  }
  hr {
    grid-column: 1 / span 2;

    width: 80%;
    height: 1px;
    color: $over_line_color;
    background-color: $over_line_color;
    margin: 2rem auto 2rem auto;

    @include neonShadowBox;
  }

  @media screen and (min-width: $bp_tablet) {
    h2 {
      font-size: 2rem;
      margin-bottom: 4rem;
    }

    margin: 8rem 3rem;
    .porfolio-project {
      display: grid;
      grid-template-columns: 2fr 1.5fr;
      grid-template-rows: auto auto;
      gap: 8px;
      margin-bottom: 6rem;
      .project-description {
        position: relative;
        padding: 1.5rem 1rem;
        h3 {
          margin-bottom: 1rem;
          font-size: 1.6rem;
        }
        p {
          padding-top: 2rem;
          width: 90%;
          margin: auto;
          font-size: 1.2rem;
        }
        .project-links {
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 1rem;
          width: 4.5rem;
          top: 1rem;
          right: 1rem;
          a {
            font-size: 1.7rem;
            color: $color_body_text;
            @include neonShadowText;
          }
        }
      }
      .project-tags {
        grid-column: 1 / span 2;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 2rem auto;
        a {
          background-color: $color_tag_bg;
          text-decoration: none;
          color: $color_tag;
          border-radius: 3px;
          padding: 0 0.5rem;
        }
      }

      .entry-thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .entry-thumbnail img {
        margin: auto;
        max-width: 90%;
        border-radius: 5px;
      }
    }
  }
  @media screen and (min-width: $bp_desktop) {
  }
  @media screen and (min-width: $bp_desktop_large) {
  }
}

.projects-section-wrapper a[href^='https://linkedin.com']::before
{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Brands';
  content: '\f0e1';
  text-decoration: none;
}

.projects-section-wrapper a[href$='.surge.sh']::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Free';
  content: '\f2d0';
  text-decoration: none;
}
.projects-section-wrapper a[href$='.herokuapp.com']::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Free';
  content: '\f2d0';
  text-decoration: none;
}
.projects-section-wrapper a[href$='.netlify.app']::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Free';
  content: '\f2d0';
  text-decoration: none;
}

.projects-section-wrapper a[href^='https://github.com']::before
{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Brands';
  content: '\f113';
  text-decoration: none;
}
